body{
    background-color: #e5e5e5;
    padding: 0;
    margin: 0;
}
.container{
    margin-top:3%;
    margin-left: 25%;
}
.container .logo{
    display:block;
    width: 200px;
    margin-left:115px;
    margin-bottom: 20px;
}
.news{
    width: 40%;
    border-radius: 10px;
    background: #ffffff;
    font-size: 17px;
    padding: 20px;
}
.news input{
    height: 40px;
    padding: 10px;
    font-size: 16px;
}

.news .radio-inline{
    line-height: 50px;
}
.avtar img{
    marigin-top: 100px;
    width:50%;
    border-radius: 100px;
}
.avtar input{
    margin-left: 100px;
}


