<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="main-footer" th:fragment="footer">
    <div class="container-fluid" style="text-align: center;width: 100%">
        <div class="row" style="text-align: center;width: 100%">
            <div class="col-sm-6 text-right" style="text-align: center;width: 100%;max-width: 100%;flex-basis: 100%">
                <p>Copyright © 2019. All Rights Reserved by Impassive.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>