server:
  port: 8001

spring:
  application:
    name: forum-login
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/forum?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&useSSL=false
    username: root
    password: 123456
    dbcp2:
      min-idle: 5                                           #数据库连接池的最小连接数量
      initial-size: 5                                       #初始化连接数量
      max-total: 5                                          #最大连接数量
      max-wait-millis: 200                                  #等待连击获取的最大超时时间

  thymeleaf:
    encoding: UTF-8
    mode: LEGACYHTML5
    cache: false
    content-type: text/html
  http:
    multipart:
      location: F:/forum/
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/, classpath:/static/, classpath:/public/, file:${spring.http.multipart.location}
  redis:
    database: 1
