<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META TAGS -->
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>BrutalHuman</title>

</head>
<body>
<!-- Start of Footer -->
<footer id="footer-wrapper" th:fragment="foot">
    <!-- Footer Bottom -->
    <div id="footer-bottom-wrapper" style="text-align: center">
        <div class="container" id="footer-bottom" style="text-align: center">
            <div class="row" style="text-align: center">
                <p class="copyright">
                    Copyright © 2019. All Rights Reserved by Impassive.
                </p>

            </div>
        </div>
    </div>
    <!-- End of Footer Bottom -->
</footer>
<!-- End of Footer -->
</body>
</html>